[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lilikoi"]
	path = lilikoi
	url = https://github.com/cran/lilikoi
	shallow = true
	registered = true
